#numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;

    .number {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            font-size: medium;
        }

        .value {
            font-size: xx-large;
            padding: 3px;
            background: var(--bg);
            border-radius: 7px;
            width: 1.2em;
            text-align: center;
            overflow: hidden;
            border: medium solid var(--text);

            @media (max-width: 900px) {
                border-width: thick;
            }
        }
    }
}