#features {
    display: flex;
    flex-direction: column;
    align-items: center;

    button.add-feature {
        padding: 0 0;
        font-size: larger;
        width: 100%;
    }
}

.feature {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 40px;
    background: var(--container-bg);
    
    p {
        margin-block-start: 0;
        margin-block-end: 7px;
    }

    h5, h4, h2, h3, h1 {
        margin-block-start: 0em;
        margin-block-end: 0.1em;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button.remove-feature, button.finish-edit {
            padding: 0 0;
            font-size: medium;
            text-align: center;
            width: 49%;
        }
    }

    .feature-header {
        font-weight: bold;
        padding: 0 3px;
    }
}