#attributes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;

    .attribute {
        display: flex;
        flex-direction: column;
        align-items: center;

        .attribute-name {
            font-size: medium;
        }

        .attribute-mod {
            font-size: xx-large;
            padding: 3px;
            background: var(--input-bg);
            border-radius: 7px;
            width: 1.2em;
            text-align: center;
            overflow: hidden;

            &.strength {
                border: medium solid var(--red);
            }

            &.dexterity {
                border: medium solid var(--green);
            }

            &.constitution {
                border: medium solid var(--orange);
            }

            &.intelligence {
                border: medium solid var(--cyan);
            }

            &.wisdom {
                border: medium solid var(--purple);
            }

            &.charisma {
                border: medium solid var(--pink);
            }
        }

        @media (max-width: 900px) {
            border-width: thick;
        }
        
        .attribute-value {
            margin-top: 3px;
            font-size: medium;
            display: inline-block;
            border-radius: 3px;
            padding: 0 3px;
            background: var(--bg);
            width: 1.8em;
            text-align: center;
        }
    }
}