#main-page {
    display: flex;
    flex-direction: column;
    max-width: 1200px;

    background: var(--bg);

    #columns {
        display: flex;

        @media (max-width: 900px) {
            flex-direction: column;
        }
    }
}