#attacks {
    button.add-attack {
        padding: 0 0;
        font-size: larger;
        width: 100%;
    }
}

.attack {
    .first-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .attack-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            flex: 1 1 auto;

            input {
                align-self: center;
                font-size: medium;
                height: 1rem;
                box-sizing: border-box;
                display: block;
                flex: 1 1 auto;
                padding: 0;
                // min-width: 0;
                width: 100%;
            }

            select {
                flex: 1 1 auto;
            }

            input[type = "checkbox"] {
                width: 1em
            }
        }
    }

    .second-line {
        display: flex;
        flex-direction: row;

        .attack-header {
            flex: 20 20 auto;
        }

        .remove-attack {
            margin: 0.2rem 0;
            font-size: medium;
            text-align: center;
            flex: 1 1 auto;
            width: auto;
        }
    }
}