#experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    #current-experience {
        border: none;
        background: var(--bg);
        border-radius: 2rem;
        text-align: center;
        font-size: larger;
    }
    
    .input-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
    }

    .second-line {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .input-cell.level {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #level {
            border-radius: 50%;
            width: 3.25rem;
            height: 3.25rem;
            border: thick solid var(--text);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            padding-bottom: 0.1em;
            box-sizing: border-box;
        }

        .experience-field {
            background: var(--bg);
            border-radius: 2rem;
            text-align: center;
            font-size: larger;
            width: 100%;
        }
    }
}
