#inventory {
    padding: 0 0.5rem;

    .headers {
        column-count: 3;
        column-gap: 1rem;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h5 {
                display: block;
                text-align: start;
                
                &.name {
                    width: 74%;
                }
    
                &.amount, &.weight {
                    width: 10%;
                }
            }
        }
    }

    .headers {
        display: flex;

        .header {
            flex: 1;

            &.first {
                margin-right: 0.5rem;

                @media (max-width: 900px) {
                    margin: 0;
                }
            }

            &.second {
                margin: 0 0.5rem;
                
                @media (max-width: 1100px) {
                    margin-right: 0;
                }

                @media (max-width: 900px) {
                    display: none;
                    margin: 0;
                    margin-left: 0.5rem;
                }
            }
            
            &.third {
                margin-left: 0.5rem;

                @media (max-width: 1100px) {
                    display: none;
                }
            }
        }
    }

    .items {
        column-count: 3;
        column-gap: 1rem;
        column-rule: 1px solid var(--text);

        @media (max-width: 1100px) {
            column-count: 2;
        }

        @media (max-width: 900px) {
            column-count: 1;
        }

        .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            input {
                display: block;
                border-bottom: 1px solid var(--text);
                
                &.name {
                    width: 74%;
                }
    
                &.amount, &.weight {
                    width: 10%;
                    text-align: center;
                }
            }
        }
    }
}