.navbar {
    box-sizing: border-box;
    padding: 0 0.5rem;
    display: flex;
    height: 3rem;
    position: relative;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
}

.navbar-group {
    display: flex;
    align-items: center;
    height: 100%;

    &.left {
        margin-right: auto;
        justify-content: flex-start;
    }
    

    &.center {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    
    &.right {
        margin-left: auto;
        justify-content: flex-end;
    }
}

.navbar-heading {
    margin-right: 0.5rem;
    font-size: x-large;
}