#life {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h3.header {
        margin-top: 5px !important;
    }

    .line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    input {
        border: none;
        background: var(--bg);
        border-radius: 2rem;
        text-align: center;
        font-size: larger;
        width: 100%;
    }

    .input-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        padding: 0 10px;

        &.temp-hp {
            flex: 1.5 1.5 auto;
        }
    }
}
