#proficiencies {
    display: flex;
    flex-direction: column;

    .header {
        margin: 0;
    }

    .line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .otherWeapons {
        max-width: 100%;
    }
}