@import "./themes";

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text);
}

body {
    margin: 0;
    background: var(--bg);

    #app, .base {
        .main-colors {
            background: var(--container-bg);
            color: var(--text);
        }
    
        .container {
            border-radius: 14px;
            overflow: hidden;
            padding: 0.5rem;
            margin: 5px;
        }
    
        .header {
            text-align: center;
            font-variant: small-caps;
        }

        h3.header {
            margin: -4px 0 0 0;
        }
    
        background: var(--bg);
        min-height: 100vh;
        min-width: 100%;
        
        #dnd {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: var(--text);
            height: 2.5rem;

            @media (max-width: 600px) {
                display: none;
                position: relative;
            }
        }
    }
}

h5 {
    margin: 0;
}

input, p, a, select, textarea {
    background: var(--input-bg);
    color: var(--text);
    padding: 0 3px;
    border: none;
    min-width: 0;
    font-size: medium;
}

textarea {
    display: block;
    resize: none;
    width: 100%;
    height: auto;
}

input[type = "text"], select {
    border-bottom: 1px solid var(--text);
}

button {
    background: var(--purple);
    color: var(--text);
    border: none;
    border-radius: 6px;
}

#open-help {
    padding: 0.2rem 0.4rem;

    * {
        color: var(--text);
        height: 1.8rem;
        width: 1.8rem;
    }
}

button#save-button {
    font-size: larger;
    margin-right: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modifier {
    display: inline-block;
    border-radius: 3px;
    padding: 0 2px;
    margin: 0 3px;
    background: var(--bg);
    width: 1.8em;
    text-align: center;

    &.strength {
        color: var(--red);
    }

    &.dexterity {
        color: var(--green);
    }

    &.constitution {
        color: var(--orange);
    }

    &.intelligence {
        color: var(--cyan);
    }

    &.wisdom {
        color: var(--purple);
    }

    &.charisma {
        color: var(--pink);
    }
}