:root {
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;

    --grey1: #282a36;
    --grey2: #44475a;
    --white: #f8f8f2;
}

.dracula {
    --bg: var(--grey1);
    --container-bg: var(--grey2);
    --input-bg: var(--grey2);
    --text: var(--white);
}
