#main-info {
    display: grid;
    overflow: hidden;
    grid-template-columns: 25% 50% 25%;

    .input-cell {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 6px;
        min-width: 0;
    }

    .input-cell.name {
        grid-column: 2;
        grid-row: 1;
    }

    .input-cell.classes {
        grid-column: 2;
        grid-row: 2;
    }

    @media (max-width: 1000px) {
        grid-template-columns: 50% 50%;

        .input-cell.name {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 1;
        }
    
        .input-cell.classes {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;
        }
    }

    input {
        font-size: large;
        min-width: 0;
        width: auto;
    }

    select {
        font-size: large;
        min-width: 0;
        width: auto;
    }

    .input-label {
        flex: 1;
        font-size: medium;
        min-width: 0;
        font-variant: small-caps;
    }

    #name-input {
        font-size: xx-large;
        text-align: center;
    }

    #classes-input {
        font-size: x-large;
        text-align: center;
    }
}